.homeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.foodCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 60vw;
    
}

h3 {
    align-self: start;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Kalam', cursive;
}

.categories {
    display: flex;
    margin: 20px;
}
.categories .item_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    width: 16vw;
    height: 35vh;
    /* background-color: rgb(122 83 113 / 78%); */
    background-color: #3f477a;
    color: white;
}

.foodName {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
}


.popular {
    /* background: rgba(135, 127, 127, 0.46); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 60vw;
}

.popular .header {
    /* background: rgba(135, 127, 127, 0.46); */
    display: flex;
    align-self: start;
}

.popular .seeAll {
    padding: 5px 20px;
    margin: 0 15px;
    background: linear-gradient(100deg, rgba(4, 74, 224, 0.9), rgba(255, 0, 238, 0.739));
    border: 2px solid white;
    border-radius: 5px;
}

.popular .seeAll:hover {
    border: 2px solid rgba(255, 166, 0, 0.793);
    background: linear-gradient(100deg, rgba(255, 0, 238, 0.739), rgba(4, 74, 224, 0.9));

}

.popular .seeAll a {
    font-size: .9rem;
    color: white;
}

.popularItems {
    /* background: rgba(135, 127, 127, 0.46); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.popularItems a {
    cursor: pointer;
    color: black;
}

.item_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    width: 16vw;
    height: 45vh;
    background-color: rgba(255, 228, 196, 0.168);
}

.item_card:hover {
    box-shadow: 0px 0px 5px 5px gray;
}

.item_card img {
    width: 250px;
    height: 200px;
    border-radius: 10px;

}

.item_card .desc {
    padding: 5px;
    margin-top: 5px;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Kalam', cursive;
}

.item_card .desc p {
    padding: 5px;
    font-size: .9rem;
    font-family: 'Philosopher', sans-serif;
}





.about {
    width: 60vw;
    margin-top: 15vh;
}

.about div {
    margin: 20px;
    /* align-self: start; */
    /* font-size: 1.1rem; */
    /* font-weight: 600; */
}

.about p {
    margin: 10px;
    font-size: 1.1rem;
}