@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Rubik Distressed', cursive;
font-family: 'Rubik Glitch', cursive; 
font-family: 'Indie Flower', cursive;*/


/* .btn{
    /* width: fit-content; 
    padding: 4px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: .3s ease-in-out;
    
} */
/* .btn:hover{
    color: white;
    background-color: black;
} */

/* .btnLarge{
    width: 15vw;
}

input{
    font-size: 0.8rem;
    border-radius: 3px;
    border: solid 1.5px rgba(50, 69, 76, 0.316);
    padding: 4px 18px;
    outline: none;
    height: 26px;
    width: 15vw;
    color: #6f7c81;
    margin: 3px 0;

} */

