.modifyFormModal{
    width: 82.5vw;
    height: 93vh;
    background-color:rgb(239, 238, 236);
    position: fixed;
    display: flex;
    justify-content: center;
    top: 3.5vh;
    left: 15vw;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px gray;
    overflow-y: scroll;
}
.modifyFormModal .form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: fit-content;
    box-shadow: 0 0 10px 2px black;
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 7vh 0;
    
}


.modifyFormModal .form .close{
    align-self: flex-end;
    background-color: rgb(255, 157, 0);
    color: white;
    font-size: .85rem;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    transition: .2s ease-in;
    cursor: pointer;
}


.hidden{
    display: none;
}